body {
    background: #E5E5E5;
    margin: 0;
    Padding: 0;
}


.logo-alura {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;

}

.texto-a-encriptar {

    position: absolute;
    width: 50%;
    height: 70%;
    left: 240px;
    top: 168px;
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0a3871;
    resize: none;
    border-color: #E5E5E5;
}


.cuadro-respuesta {

    position: absolute;
    width: 400px;
    height: 900px;
    left: 72.5%;
    top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin: 0%;
    border-color: #FFFFFF;


}

.dibujo-nene {

    margin-top: 200px;
    margin-left: 30px;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;


}

.texto-encriptado {

    font-family: 'Inter', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    border-color: #ffffff;


}

.ingrese-texto {

    font-family: 'Inter', sans-serif;
    display: flex;
    font-size: 15px;
    text-align: center;
    color: #495057;
    border-color: #FFFFFF;
    width: 100%;
    border-style: none;
    margin-left: 20px;

}

.textoResultado {

    width: 355px;
    height: 300px;
    left: 1032px;
    top: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin: 20px;
    border-color: #0A3871;

    color: #495057;
}

.Copiar {

    background: #ffffff;
    border: 2px solid #0A3871;
    border-radius: 24px;
    font-size: 15px;
    margin-left: 10%;
    width: 336px;
    height: 67px;
    left: 1032px;


}

.Copiar:hover,
button:focus {
    color: #06204098;
}

.Copiar:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.Copiar:active {
    transform: scale(0.9);
}

.circulo-exclamacion {

    width: 16px;
    height: 16px;
    position: absolute;
    display: flex;
    opacity: 0.5;
    margin: 0;
    left: 240px;
    top: 794px;
}

.importante {

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #495057;
    opacity: 0.8;
    display: block;
    position: absolute;
    width: 350px;
    left: 265px;
    top: 770px;


}

.botones {

    display: flex;
    gap: 24px;
    width: 656px;
    height: 67px;
    left: 240px;
    top: 820px;
    margin-top: 10px;
    position: relative;

}

.Encriptar {

    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: rgba(243, 245, 252, 1);
    font-size: 15px;

}

.Encriptar:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    border-radius: 24px;
    z-index: -1;
}

.Encriptar:hover,
button:focus {
    color: #afccee98;
}

.Encriptar:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.Encriptar:active {
    transform: scale(0.9);
}


.Desencriptar {

    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 15px;
}

.Desencriptar:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    border-radius: 24px;
    z-index: -1;
}

.Desencriptar:hover,
button:focus {
    color: #06204098;
}

.Desencriptar:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.Desencriptar:active {
    transform: scale(0.9);
}

.pie-pagina {

    background-color: #0A3871;
    position: relative;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 0;
    top: 880px;

}

.texto-pie {

    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 0%;
    font-size: 13px;

}

.ocultar {
    display: none;
}

@media screen and (max-width: 375px) {

    * {
        margin: 0px;
    }

    .texto-a-encriptar {
        width: 310px;
        height: 280px;
        left: 25px;
        top: 145px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871;
        position: relative;
    }

    .circulo-exclamacion {
        left: 30px;
        top: 462px;
        bottom: 0%;
    }

    .importante {

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        font-size: 15px;
        position: absolute;
        height: 18px;
        left: 50px;
        top: 460px;

    }

    .botones {
        padding: 0px;
        position: absolute;
        width: 688px;
        height: 67px;
        left: 16px;
        top: 500px;
        flex-wrap: wrap;
    }

    .Encriptar {
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 343px;
        height: 67px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .Desencriptar {

        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 343px;
        height: 67px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .cuadro-respuesta {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3px;
        padding-top: 5px;
        gap: 32px;
        position: absolute;
        width: 330px;
        height: 197px;
        margin: 0;
        left: 16px;
        top: 707px;
    }

    
    .dibujo-nene {
        display: none
    }

    .texto-encriptado {

        position: relative;
        height: 220px;
        left: 15px;
        top:35px;
        margin: 0;
        font-family: 'Inter', sans-serif;
        

    }


    .ingrese-texto {
        width: 263px;
        height: 48px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        text-align: center;
        position: absolute;
        left: 10px;
        top: 95px;

    }


    .contenedorResultado{
        display: flex;
        justify-content: center;

    }
    
    .textoResultado {

        font-family: 'Inter', sans-serif;
        font-size: 24px;
        color: #495057;
        word-wrap: break-word;

    }

.botonCopiar{
    position: absolute;
    padding: 0px;
    width: 688px;
    height: 67px;
    left: -70px;
    top: 260px;
    flex-wrap: wrap;
}

    .pie-pagina {
        background-color: #0A3871;
        position: relative;
        top: 1100px;
    }
}