body {
    background: #e5e5e5;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    /* display: flexbox; */
}

header {
    margin: 50px;
    background-color: pink;
}

.logo-alura {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    /* position: absolute; */
    width: 7.5rem;
    height: 3rem;
    left: 2.5rem;
    top: 2.5rem;
}

main {
    margin-top: 3rem;
    background-color: red;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    max-width: 100% !important;
}

.col.col-md {
    width: 65%;
}
.col.col-sm {
    width: 35%;
}

footer {
    display: none;
}

section.texto {
    background-color: green;
    width: 100%;
    height: 75vh;
    border-color: #0a3871;
}

section.cuadro-respuesta {
    background-color: black;
    margin-right: 1rem;
}

.texto-a-encriptar {
    /* position: absolute; */
    width: calc(90% - 2.5rem);
    height: 85%;
    margin: 2.5rem;
    background-color: #e5e5e5;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: #0a3871;
    resize: none;
    border-color: #e5e5e5;
}

.texto-a-encriptar::-webkit-scrollbar {
    -webkit-appearance: none;
}

.texto-a-encriptar::-webkit-scrollbar:vertical {
    width: 10px;
}

.texto-a-encriptar::-webkit-scrollbar-button:increment,
.texto-a-encriptar::-webkit-scrollbar-button {
    display: none;
}

.texto-a-encriptar::-webkit-scrollbar:horizontal {
    height: 10px;
}

.texto-a-encriptar::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.texto-a-encriptar::-webkit-scrollbar-track {
    border-radius: 10px;
}

.cuadro-respuesta {
    position: absolute;
    /* width: 25%; */
    height: 100vh;
    /* left: 72.5%; */
    right: 4rem;
    top: 2rem;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin: 0%;
    border-color: #ffffff;
}

.dibujo-nene {
    margin-top: 40%;
    width: 35%;
    height: 35%;
    left: 105%;
    top: 280%;
}

.texto-encriptado {
    position: relative;
    color: black;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    top: 10%;
    margin-top: 4%;
    margin-bottom: 0;
    border-color: #ffffff;
}

.ingrese-texto {
    position: relative;
    top: 10%;
    display: flex;
    font-size: 1.3rem;
    text-align: center;
    color: #495057;
    border-color: #ffffff;
    width: 90%;
    border-style: none;
    margin-left: 1rem;
}

.textoResultado {
    position: absolute;
    width: 70%;
    height: 73%;
    left: 10%;
    top: 3%;
    right: 1%;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    margin: 20px;
    overflow-wrap: break-word;
    overflow: hidden;
    overflow: auto;
    border-color: #0a3871;
    color: #495057;
}

.textoResultado::-webkit-scrollbar {
    -webkit-appearance: none;
}

.textoResultado::-webkit-scrollbar:vertical {
    width: 10px;
}

.textoResultado::-webkit-scrollbar-button:increment,
.textoResultado::-webkit-scrollbar-button {
    display: none;
}

.textoResultado::-webkit-scrollbar:horizontal {
    height: 10px;
}

.textoResultado::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.textoResultado::-webkit-scrollbar-track {
    border-radius: 10px;
}

.Copiar {
    position: absolute;
    background: #ffffff;
    border: 2px solid #0a3871;
    border-radius: 24px;
    font-size: 1rem;
    width: 336px;
    height: 67px;
    top: 116.5%;
    left: 73.5%;
}

.Copiar:hover,
button:focus {
    color: #06204098;
}

.Copiar:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.Copiar:active {
    transform: scale(0.9);
}

.circulo-exclamacion {
    width: 16px;
    height: 16px;
    position: absolute;
    opacity: 0.5;
    margin: 0;
    left: 15.5%;
    top: 95.7%;
}

.importante {
    font-size: 20px;
    color: #495057;
    opacity: 0.8;
    position: absolute;
    left: 17%;
    top: 93%;
}

.botones {
    position: relative;
    display: flex;
    gap: 24px;
    width: 656px;
    height: 67px;
    left: 15%;
    top: 100%;
    margin-top: 10px;
    position: absolute;
}

.Encriptar {
    width: 328px;
    height: 67px;
    background: #0a3871;
    border-radius: 24px;
    color: rgba(243, 245, 252, 1);
    font-size: 15px;
}

.Encriptar:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 24px;
    z-index: -1;
}

.Encriptar:hover,
button:focus {
    color: #afccee98;
}

.Encriptar:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.Encriptar:active {
    transform: scale(0.9);
}

.Desencriptar {
    width: 328px;
    height: 67px;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-size: 15px;
}

.Desencriptar:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 24px;
    z-index: -1;
}

.Desencriptar:hover,
button:focus {
    color: #06204098;
}

.Desencriptar:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.Desencriptar:active {
    transform: scale(0.9);
}

.pie-pagina {
    background-color: #0a3871;
    position: relative;
    padding-left: 0;
    padding-top: 7px;
    padding-right: 0;
    top: 62rem;
}

.texto-pie {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.ocultar {
    display: none;
}

@media screen and (max-width: 375px) {
    * {
        margin: 0px;
    }

    .texto-a-encriptar {
        height: 80%;
        width: 80%;
        margin: 0%;
        left: 10%;
        top: 20%;
        position: absolute;
    }

    .dibujo-nene {
        display: none;
    }

    .cuadro-respuesta {
        top: 150%;
        left: 10%;
        height: 30%;
        width: 80%;
        bottom: 10%;
    }

    .texto-encriptado {
        margin: 1%;
    }

    .ingrese-texto {
        margin-left: 5%;
    }

    .circulo-exclamacion {
        left: 10%;
        top: 109.8%;
        width: 0.8rem;
    }

    .importante {
        left: 15%;
        top: 110%;
        font-size: 0.8rem;
    }

    .botones {
        left: 5%;
    }

    .Desencriptar {
        position: absolute;
        top: 130%;
    }

    .botonCopiar {
        position: absolute;
        width: 336px;
        height: 67px;
        top: 180%;
    }

    .pie-pagina {
        position: absolute;
        top: 260%;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    * {
        margin: 0px;
    }

    .texto-a-encriptar {
        height: 40%;
        width: 55%;
        margin: 0%;
        left: 5%;
        top: 20%;
    }

    .dibujo-nene {
        display: none;
    }

    .cuadro-respuesta {
        position: absolute;
        top: 85%;
        left: 5%;
        right: 5%;
        height: 30%;
        width: 55%;
        bottom: 10%;
    }

    .texto-encriptado {
        margin: 1%;
    }

    .ingrese-texto {
        margin-left: 5%;
    }

    .circulo-exclamacion {
        left: 2%;
        top: 67.9%;
        width: 0.8rem;
    }

    .importante {
        left: 4%;
        top: 67.99%;
        font-size: 0.8rem;
    }

    .botones {
        position: absolute;
        gap: 10px;
        left: 0.5%;
        right: 0.5%;
        display: flex;
        top: 70%;
    }
    .Encriptar {
        height: 100%;
        width: 35%;
    }
    .Desencriptar {
        height: 100%;
        width: 35%;
    }
    .Copiar {
        position: absolute;
        width: 336px;
        height: 67px;
        top: 105%;
        left: 10%;
    }

    .pie-pagina {
        position: absolute;
        top: 120%;
        width: 70%;
    }

    .contenedorResultado {
        display: flexbox;
    }
}
